.section-hotel-nav jumbotron{
    position: relative;
}

#guest-room-modal{
    position: absolute;
    top: -300%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 600px;
    background-color: white;
    padding: 50px 60px;
    border-radius: 10px;
    transition: 1s;
    z-index: 10;
}

#room-guest-selection {
    color: black;
}

.hotel-item-list{
    display: flex;
    margin-right: 0;
    margin-left: 0;
    cursor: pointer;
}

.hotel-image{
    position: relative;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin-right: 8px;
    border: 1px solid gainsboro;
    border-radius: 20px;
    box-shadow: 2px 2px 5px grey;
    background-image: url("../images/noImageAvailable.png");
}

.main-hotel-image {
    background-image: url("../images/noImageAvailable.png");
    height: 180px;
    width: 180px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    border: 1px solid grey;
    box-shadow: 2px 3px 5px grey;
    margin-bottom: 10px;
}

.main-hotel-image:hover {
    box-shadow: 3px 5px 6px grey;
}


.hotel-detail-controller{
    width: 320px;
    overflow: scroll;
}
#address-table{
    display: none;
}
#hotel-detail-list-group{
    height: 100%;
    width: 320px;
    transition: 1s;
    position: fixed;
    top: 0;
    left: -320px;
    padding: 0 5px;
    background-color: white;
    z-index: 9999999;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#controls {
    position: relative;
    width: 480px;
    margin-top: 5px; 
}
#autocomplete2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 99%;
    height: 50px;
    border-color: transparent;
    background: transparent;
}
.label {
    text-align: right;
    font-weight: bold;
    width: 100px;
    color: #303030;
}
#address {
    /*display: none;*/
    border: 1px solid #000090;
    background-color: #f0f0ff;
    width: 480px;
    padding-right: 2px;
}
#address td {
    font-size: 10pt;
}
.field {
    width: 99%;
}
.slimField {
    width: 80px;
}
.wideField {
    width: 200px;
}

.invisible-input{
    display: none;
}

.search-hotel {
    color: white;
    display: flex;
    flex-flow: row wrap;
}

@media(max-width:767px){
    #guest-room-modal{
        max-width: 300px;
        padding-right: 10px;
        padding-left: 10px;

    }
}

.input-group-hotel {
    display: flex !important;
    flex-direction: column;
    border-radius: 4px !important;
    padding: 0 5px;
}

.hotel-item-list h5{
    color: lightseagreen;
    margin-top: 0;
}

.hotel-price {
    font-weight: 300;
    color: dodgerblue;
}

.hotel-address {
    font-weight: 300;
    color: darkgray;
}

#hotel-room-details {
    height: 95vh;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.hotel-main-name {
    color: lightseagreen;
}

.room-type {
    font-weight: 400;
    color: skyblue;
}

.room-night, .room-total {
    font-weight: 300;
}

a.hotel-detail-info {
    border-radius: 10px;
}