<li class="list-group-item swappable-block">
    <h5 class="swappble-block-title-flight">
        Flight
    </h5>
    <i class="fa fa-times fa-1x"></i>

    <div class="swappble-block-content-flight">

            <a href="/transportation-edit" class="transit-title">to </a>
            
            <div class="transit-route-info">
    
            </div>

    </div>
</li>