<li class="list-group-item swappable-block">
    <h5 class="swappble-block-title-hotel">
        Hotel
    </h5>
    <i class="fa fa-times fa-1x"></i>

    <div class="swappble-block-content-transit">
            <a href="/transportation-edit" class="transit-title"></a>
            <div class="transit-route-info">
                <span><strong>{{name}}</strong></span><br>
                <span>{{checkIn}} - {{checkOut}}</span>
            </div>
    </div>
</li>