<section class="user-history">
    <div class="hisory-title">My history</div>
    <div class="history-content">
        <a class="glyphicon glyphicon-remove detail-close"></a>
        <div id="list-group-container">
            <div class="list-group" id="flight-list-group">
            </div>
            <div class="loader" id="loader"></div>
        </div>
    </div>
</section>