<section class="section-two">
    <div class="section-two-nav jumbotron">
        <form class="form-inline" action="#" name="set-trip-form">
            <div class="form-group" id="flex-form-left">
                <div id="search-container">
                    <input type="search" class="set-trip form-control" data-pmu-format="Y-m-d" name="from-date" placeholder="checkin" value={{from-date}}>
                    <input type="search" class="set-trip form-control" data-pmu-format="Y-m-d" name="to-date" placeholder="checkout" value={{to-date}}>
                    <!-- autocomplete field -->
                    <div id="locationField">
                    <input id="autocomplete2" placeholder="Enter your address"
                            onFocus="geolocate()" type="text"></input>
                    </div>
                    <table id="address">
                    <tr>
                        <td class="label">Street address</td>
                        <td class="slimField"><input class="field" id="street_number"
                            disabled="true"></input></td>
                        <td class="wideField" colspan="2"><input class="field" id="route"
                            disabled="true"></input></td>
                    </tr>
                    <tr>
                        <td class="label">City</td>
                        <!-- Note: Selection of address components in this example is typical.
                            You may need to adjust it for the locations relevant to your app. See
                            https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
                        -->
                        <td class="wideField" colspan="3"><input class="field" id="locality"
                            disabled="true"></input></td>
                    </tr>
                    <tr>
                        <td class="label">State</td>
                        <td class="slimField"><input class="field"
                            id="administrative_area_level_1" disabled="true"></input></td>
                        <td class="label">Zip code</td>
                        <td class="wideField"><input class="field" id="postal_code"
                            disabled="true"></input></td>
                    </tr>
                    <tr>
                        <td class="label">Country</td>
                        <td class="wideField" colspan="3"><input class="field"
                            id="country" disabled="true"></input></td>
                    </tr>
                    </table>
                    <!-- ./autocomplete field end -->
                    <!-- search hotel input and modal -->
                    <input id="room-guest-input" type="text" class="set-trip form-control" name="currency" placeholder="Room/Guests" value="" data-toggle="modal" data-target=".bd-example-modal-lg">
                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div id="room-guest-selection">
                                    <h4>Room 1</h4>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <p>Adults: </p>
                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary active">
                                                    <input type="checkbox" checked autocomplete="off"> 1
                                                </label>
                                                <label class="btn btn-primary">
                                                    <input type="checkbox" autocomplete="off"> 2
                                                </label>
                                                <label class="btn btn-primary">
                                                    <input type="checkbox" autocomplete="off"> 3
                                                </label>
                                            </div>
                                        </div><!-- ./col-md-6 -->
                                        <div class="col-xs-6">
                                            <p>Child: </p>
                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="btn btn-primary active">
                                                    <input type="checkbox" checked autocomplete="off"> 1
                                                </label>
                                                <label class="btn btn-primary">
                                                    <input type="checkbox" autocomplete="off"> 2
                                                </label>
                                                <label class="btn btn-primary">
                                                    <input type="checkbox" autocomplete="off"> 3
                                                </label>
                                            </div>
                                        </div><!-- ./col-md-6 -->
                                    </div><!-- ./row -->
                                    <div>
                                        <p>Child Age</p>
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-primary active">
                                                <input type="checkbox" checked autocomplete="off"> 1
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="checkbox" autocomplete="off"> 2
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="checkbox" autocomplete="off"> 3
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="checkbox" autocomplete="off"> 4
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="checkbox" autocomplete="off"> 5
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="checkbox" autocomplete="off"> 6
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="checkbox" autocomplete="off"> 7
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="checkbox" autocomplete="off"> 8
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="checkbox" autocomplete="off"> 9
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="checkbox" autocomplete="off"> 10
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="checkbox" autocomplete="off"> 11
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="checkbox" autocomplete="off"> 12
                                            </label>
                                        </div>
                                    </div>
                                </div><!-- ./guest-room-selection -->
                            </div><!-- ./modal-content -->
                        </div>
                    </div>
                </div>
                <input type="submit" value="+ Trip" class="btn btn-primary add-trip-btn">
            </div>
        </form>
    </div>

    <!-- all the part below can be changed into partial -->
    <div class="map-search-container container">
        <div class="map"></div>
        <div class="detail-controller">
            <div class="list-group">
                <a href="#" class="list-group-item"> First Item </a>
                <a href="#" class="list-group-item"> Second Item </a>
            </ul>
        </div>
        <a class="btn btn-primary glyphicon glyphicon-chevron-left expand-controller"></a>
    </div>
</section>
