
<!-- <script src="/hotel.js"></script> -->
<!-- google autocomplete -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBeMTI1hQiZKQYQGi34WqTB8KgsbVxSZI&libraries=places&callback=initAutocomplete"
        async defer></script>
<section class="section-two">
    <div class="section-two-nav jumbotron">
        <form class="form-inline" action="#" name="set-trip-form">
            <div class="form-group" id="flex-form-left">
                <div id="search-container">
                    <input id="fromDate" type="search" class="set-trip form-control" data-pmu-format="Y-m-d" name="fromDate" placeholder="checkin" value="{{fromDate}}" disabled>
                    <input id="toDate" type="search" class="set-trip form-control" data-pmu-format="Y-m-d" name="toDate" placeholder="checkout" value="{{toDate}}">
                    <!-- autocomplete field -->
                    <div id="locationField">
                    <input id="autocomplete2" placeholder="Where" onFocus="geolocate()" type="text">
                    </div>
                    <table id="address-table">
                    <tr>
                        <td class="label">Street address</td>
                        <td class="slimField"><input class="field" id="street_number"
                            disabled="true"></input></td>
                        <td class="wideField" colspan="2"><input class="field" id="route"
                            disabled="true"></input></td>
                    </tr>
                    <tr>
                        <td class="label">City</td>
                        <!-- Note: Selection of address components in this example is typical.
                            You may need to adjust it for the locations relevant to your app. See
                            https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
                        -->
                        <td class="wideField" colspan="3"><input class="field" id="locality"
                            disabled="true"></input></td>
                    </tr>
                    <tr>
                        <td class="label">State</td>
                        <td class="slimField"><input class="field"
                            id="administrative_area_level_1" disabled="true"></input></td>
                        <td class="label">Zip code</td>
                        <td class="wideField"><input class="field" id="postal_code"
                            disabled="true"></input></td>
                    </tr>
                    <tr>
                        <td class="label">Country</td>
                        <td class="wideField" colspan="3"><input class="field"
                            id="country" disabled="true"></input></td>
                    </tr>
                    </table>
                    <!-- ./autocomplete field end -->
                    <!-- search hotel input and modal -->
                    <input id="room-guest-input" type="text" class="set-trip form-control" name="currency" placeholder="Room/Guests" value="">
                    <div id="guest-room-modal" tabindex="-1" class="">
                        <div id="room-guest-selection">
                            <h4>Room 1</h4>
                            <div class="row">
                                <div class="col-xs-4">
                                    <p>Adults: </p>
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input name="adult-number-radio" type="radio" checked autocomplete="off" value="1"> 1
                                        </label>
                                        <label class="btn btn-primary">
                                            <input name="adult-number-radio" type="radio" autocomplete="off" value="2"> 2
                                        </label>
                                        <label class="btn btn-primary">
                                            <input name="adult-number-radio" type="radio" autocomplete="off" value="3"> 3
                                        </label>
                                        <label class="btn btn-primary">
                                            <input name="adult-number-radio" type="radio" autocomplete="off" value="4"> 4
                                        </label>
                                    </div>
                                </div><!-- ./col-md-4 -->
                                <div class="col-xs-4">
                                    <p>Child: </p>
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input name="child-number-radio" type="radio" checked autocomplete="off" value="0"> 0
                                        </label>
                                        <label class="btn btn-primary">
                                            <input name="child-number-radio" type="radio" autocomplete="off" value="1"> 1
                                        </label>
                                        <label class="btn btn-primary">
                                            <input name="child-number-radio" type="radio" autocomplete="off" value="2"> 2
                                        </label>
                                        <label class="btn btn-primary">
                                            <input name="child-number-radio" type="radio" autocomplete="off" value="3"> 3
                                        </label>
                                    </div>
                                </div><!-- ./col-md-4 -->
                                <div class="col-xs-4">
                                    <p>Child Age:</p>
                                    <select id="child-age-select">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div><!-- ./col-md-4 -->
                            </div><!-- ./row -->
                        </div><!-- ./guest-room-selection -->
                        <br>
                        <button id="guest-room-done" class="btn btn-success">Done</button>
                    </div><!-- ./#guest-room-modal -->
                </div><!-- ./#search-container -->
                <input id="serach-hotel-btn" type="submit" value="+ Trip" class="btn btn-primary add-trip-btn">
            </div>
        </form>
    </div>

    <!-- all the part below can be changed into partial -->
    <div class="map-search-container container">
        <div class="map"></div>
        <div class="detail-controller hotel-detail-controller">
            <div id="hotel-list-group" class="list-group">
            </div>
        </div>
        <a class="btn btn-primary glyphicon glyphicon-chevron-left expand-controller"></a>
    </div>
</section>