<div class="row">
    <div id="hotelDeal-list-group" class="list-group col-xs-5">
    </div>
    <div id="hotel-list-group" class="list-group col-xs-7">
    </div>
</div>
<script src="/temporary-hotel.js"></script>