<section class="section-two section-transportation">
    <div class="section-two-nav section-transportation-nav jumbotron">
        <form class="form-inline" action="#" name="set-trip-form">
            <div class="form-group flex-form-left">
                <div class="search-container">
                    <input type="search" class="set-trip form-control" data-pmu-format="Y-m-d" name="from-locat" id="from-locat">
                    <input type="search" class="set-trip form-control" data-pmu-format="Y-m-d" name="to-locat" id="to-locat">
                </div>
                <input type="button" value="+ Search" class="btn btn-primary add-trip-btn" id="trans-add">
            </div>
        </form>
    </div>
  
    <!-- all the part below can be changed into partial -->
    <div class="map-search-container container">
        <div class="map"></div>
        <div class="detail-controller">
            <a class="glyphicon glyphicon-remove hide-btn"></a>
            <div class="list-group" id="transport-list-group">
            </div>
        </div>
        <div class="list-group transport-detail" id="transport-detail-list-group">
            <a class="glyphicon glyphicon-remove detail-close"></a>
            <div id="my-detail"></div>
        </div>
        <a class="btn btn-primary glyphicon glyphicon-chevron-right expand-controller"></a>
    </div>
</section>

<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=API_KEY_TWO&libraries=places&callback=initMap&language=en"
        async defer></script>
<script src='search-transportation/google-map-main.js'></script>
<script src='search-transportation/search-transportation.js'></script>
