<section id="trip-control">
    <form method="POST" action="/save-trip"></form>
        <div class="trip-title-details">
            <br>
            <br>
            <input id="trip-name" class="hide-input" type="text" value=""/>
            <!--<input id="save-schedule" type="submit" class="btn btn-success" value="Save">-->
            <a class="btn btn-primary select-locations" href="#">Add New</a>
            <a class="btn btn-primary select-locations" href="#">Del</a>
            <button type="submit" id="save-schedule" class="btn btn-circle btn-lg" value="Save"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
            <!--input id="save-schedule" type="submit" class="btn btn-success" value="Save"-->
        </div>
        <div class="list-group" id="trip-list">
        </div>

</section>