<section id="trip-schedule">
    <div class="trip-title-details">
        <h4 id="trip-name">Trip Name:</h4>
        <h4 id="travel-dates">Trip Date:</h4>
    </div>
    <div class="trip-container-box">
        {{#each eachTripDay}}
            <div id={{this}}>
                <h4>{{this}}</h4>
                <div class="trip-container">
                    <div class="btn-cointainer">
                        <form class="container-form" method="GET" action="/search-hotels/{{this}}">
                            <input id="{{this}}-search-hotel" class="btn btn-primary select-hotel" type="submit" value="Hotel"/>
                        </form>
                        <form class="container-form">
                            <input class="btn btn-primary select-transportation" value="Transportation"/>
                        </form>
                        <form class="container-form">
                            <input class="btn btn-primary select-locations" value="Locations"/>
                        </form>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="trip-add-new">
        <div class="trip-container">
            <div class="btn-cointainer">
                <button class="btn btn-primary">+ Add New Day</button>
            </div>
        </div>
    </div>
</section>