<section class="section-one jumbotron">
    <div id="logo">
        <h1>Trip</h1>
        <h2 id="plus">++</h2>
    </div>

    <div class="container" id="add-trip">
        <form class="form-inline text-center" action="#" name="set-trip-form">
            <div class="form-group" id="flex-form">
                <div id="search-container">
                    <input type="search" class="set-trip form-control" data-pmu-format="Y-m-d" name="from-date">
                    <input type="search" class="set-trip form-control" data-pmu-format="Y-m-d" name="to-date">
                </div>
                <input type="submit" value="+ Trip" class="btn btn-primary">
            </div>
        </form>
    </div>
</section>