<section class="section-one jumbotron">
    <div id="logo">
        <h1>Trip</h1>
        <h2 id="plus">++</h2>
    </div>
    <div class="container" id="add-trip">
        <form class="form-inline text-center" name="set-trip-form" method="POST" action="trip-list">
            <div class="form-group" id="flex-form">
                <div id="search-container">
                    <input id="start-date" type="search" class="form-control" data-pmu-format="Y-m-d" name="start-date">
                    <input id="end-date" type="search" class="form-control" data-pmu-format="Y-m-d" name="end-date">
                </div>
                <input type="submit" value="+ Trip" class="btn btn-primary add-trip-btn">
            </div>
        </form>
    </div>
</section>

<script src="/script.js"></script>