/*
#trip-schedule{
    display: none;
}
*/
li{
    background-color: white;
}
.trip-title-details{
    text-align: center;
}
#save-schedule{
    position: fixed;
    top: 50px;
    right: 12px;
    background: tomato;
    line-height: 0;
}
#print-schedule{
    position: fixed;
    top: 50px;
    right: 68px;
    background: tomato;
    color: white;
}
button#save-schedule:hover, button#save-schedule:focus {
    color: white;
}

#trip-schedule{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    overflow: hidden;
}
.container-form{
    float: left;
    margin-right: 5px;
}
.trip-container-box{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    overflow: scroll;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.trip-container{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 85%;
}

.trip-black-container{
    background-color: white;
    box-shadow: 5px 5px 20px grey;
    height: 85%;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 7px;
    margin: 20px 10px 10px 10px;
}

.trip-black-container:hover {
    box-shadow: 10px 12px 35px grey;
}

.black-container-contents {
    display: flex;
    flex-direction: column;
    width: 97%;
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.activity-container{
    overflow: wrap;
}
.block{
    float: left;
    margin-right: 5px;
}
.select-hotel,
.select-transportation,
.select-locations,
.select-flight{
    margin-right: 5px;
}

.select-flight {
    background-color: deeppink;
    border: 0;
    transition: 0.4s;
}

.select-flight:hover {
    background-color: deeppink;
    transition: 0.4s;
    box-shadow: inset 5px -3px 5px darkmagenta;
}

.select-hotel {
    background-color: darkturquoise;
    border: 0;
    transition: 0.4s;
}

.select-hotel:hover {
    background-color: darkturquoise;
    transition: 0.4s;
    box-shadow: inset 5px -3px 5px seagreen;
}

.select-transportation {
    background-color: darkorange;
    border: 0;
    transition: 0.4s;
}

.select-transportation:hover {
    background-color: darkorange;
    transition: 0.4s;
    box-shadow: inset 5px -3px 5px darkred;
}

.select-locations {
    background-color: #245580;
    border: 0;
    transition: 0.4s;
}

.select-locations:hover {
    background-color: #245580;
    transition: 0.4s;
    box-shadow: inset 5px -3px 5px black;
}


.activity-list {
    height: 90%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    box-shadow: none;
}

.swappable-block{
    padding: 0 0 5px 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 5px;
    color: grey;
}

.swappble-block-title-flight, 
.swappble-block-title-transit,
.swappble-block-title-hotel,
.swappble-block-title-location {
    margin: 0;
    color: white;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

.swappble-block-title-hotel {
    background-color: darkturquoise;
}

.swappble-block-title-flight {
    background-color: deeppink;
}

.swappble-block-title-transit {
    background-color: darkorange;
}

.swappble-block-title-location{
    background-color: #245580;
}

.swappble-block-content-flight, .swappble-block-content-transit, .swappble-block-content-hotel,
.swappble-block-content-location {
    padding: 5px 10px;
}

.fa-times{
    position: absolute;
    right: 10px;
    top: 5px;
}

btn{
    display: flex;
}
h4{
    color: black;
}
#trip-name{
    font-size: 30px;
    line-height: 2;
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: transparent;
    border: none; 
}

.day-date {
    color: white;
    margin: 0 12px;
    margin-bottom: -30px;
    background: rgb(61, 61, 61);
    width: 150px;
    height: 38px;
    padding-top: 5px;
    /* vertical-align: middle; */
    border-radius: 10px 10px 0 0;
}

.delete-activity{
    z-index: 100;
    color: white;
    cursor: pointer;
}

/* day-map */
.day-map-container {
    position: fixed;
    top: 110px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 9999;
    display: none;
}

#day-map {
    height: 100%;
    border: 5px solid grey;
    border-radius: 5px;
    transition: 1s;
}

#close-map {
    position: fixed;
    z-index: 99999;
    top: 95px;
    left: 0px;
    cursor: pointer;
    font-size: 35px !important;
    color: black;
}

#close-map:active {
    box-shadow: none;
}

.fa-map {
    cursor: pointer;
    background: white;
    color: rgb(61, 61, 61);
    border-radius: 50%;
    padding: 5px;
}

.fa-map:hover {
    color: lightseagreen;
}

.trip-container-box-print{
    width: 100%;
    padding: 0 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.trip-title-details-print{
    text-align: center;
    position: fixed;
    z-index: 99;
}

.trip-container-print{
    display: flex;
    flex-direction: column;
    width: 320px;
    min-height: 100%;
    padding-top: 100px;
}

@media print{
    #trip-schedule,
    .trip-container-box{
        overflow: visible;
    }
    .trip-title-details-print{
        text-align: center;
        position: fixed;
        z-index: 99;
    }
    .activity-list{
        overflow-y: visible;
    }
    .trip-container-box-print{
        column-count: 2;
    }
    .trip-box-container-print{
        flex-wrap: wrap;
    }
    #trip-name{
        font-size: 24px;
    }
    .trip-container-print{
        break-before: column;
    }
    .trip-container-box-print{
        width: 100%;
        height: 100%;
        padding: 0 20px;
        text-align: left;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .trip-title-details-print{
        text-align: center;
        position: fixed;
        z-index: 99;
    }
    
    .trip-container-print{
        display: flex;
        flex-direction: column;
        width: 320px;
        min-height: 100%;
        padding-top: 100px;
    }
}