body, html {
    padding: 0;
    height: 100%;
    font-size: 12px;
}

/* section 1 */
.section-one {
   height: 100%;
   background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),
            url('./images/osaka-bg.jpg');
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}
 
/* logo */
/* navbar logo */
.navbar-inverse .navbar-brand {
    color: snow;
}

#logo {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo h1, h2{
    font-family: 'Pacifico', cursive;
    color: white !important;
    text-shadow: 8px 4px 1px #242424;
}

#logo h1 {
    font-size: 108px; 
}

#logo h2 {
    font-size: 48px;
}

#logo #plus {
    color: rgb(190, 70, 49) !important;
}

/* add trip container */
#add-trip {
    margin-top: 60px;
    background-color: #202020b9;
    border-radius: 10px;
    padding: 25px 10px;
}

#flex-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.set-trip {
    height: 35px;
    margin-top: 5px;
}

.add-trip-btn {
    margin-left: 10px;
    width: 120px;
}

.set-trip-days {
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
}

/* user-section */
#user-section {
    position: absolute;
    top: -180%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 300px;
    background-color: white;
    padding: 50px 60px;
    border-radius: 10px;
    transition: 1s;
    z-index: 999999999999999;
    box-shadow: 1px 5px 40px grey;
}

.show-active {
    top: 10% !important;
}

.close {
    position: relative;
    top: -20px;
    right: -40px;
}

/* general search section */
.flex-form-left {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0;
}

.input-label {
    color: white;
}

.section-two-nav.jumbotron {
    padding-bottom: 10px;
    padding-top: 50px;
    background: linear-gradient(rgb(58, 57, 57),rgb(41, 40, 40));
    margin-bottom: 0;
    z-index: 99;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
}

.section-two {
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(61, 61, 61);
}

form[name="set-trip-form"] {
    padding: 1px 10px;
}

.map-search-container {
    height: 85vh;
    width: 100%;
    padding: 0;
}

.map {
    position: fixed !important;
    bottom: 0;
    height: 94%;
}

.detail-controller {
    position: fixed;
    bottom:0;
    left: -320px;
    height: 100%;
    background-color: white;
    width: 320px;
    transition: 1s;
    z-index: 9999;
}

.expand-controller {
    position: fixed;
    left: 0;
    top: 50%;
    height: 50px;
    padding-top: 23px;
    width: 30px;
    padding-left: 7px;
    transition: 1s;
}

.hide-btn {
    margin-top: 20px;
    margin-left: 90%;
    opacity: .2;
    text-shadow: 0 1px 0 #fff;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
}

/* date-picker */
.pickmeup-twitter-bootstrap
.pmu-instance{
    z-index: 100;
    position: relative;
    background: white;
}

/* flash */
.alert {
    position: fixed;
    right: 20px;
    top: 50px;
    z-index: 999999;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 400;
}

.success1 {
    color: lightseagreen;
    border: 2px solid lightseagreen;
}

.danger1 {
    color: brown;
    border: 2px solid brown;
}

.alert i {
    margin-right: 4px;
}

/* social login btn */
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 12px 16px 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.fb-btn {
    padding: 10px 16px !important;
    line-height: 1.2 !important;
    font-size: 25px !important;
    margin: 20px;
}

.form-title {
    color: darkturquoise;
}