body, html {
    padding: 0;
    height: 100%;
    font-size: 12px;
}

/* section 1 */
.section-one {
   height: 90%;
   background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),
            url('./images/HongKong-bg.jpg');
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}
 
/* logo */
#logo {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo h1, h2{
    font-family: 'Pacifico', cursive;
    color: white !important;
    text-shadow: 8px 4px 1px #242424;
}

#logo h1 {
    font-size: 108px; 
}

#logo h2 {
    font-size: 48px;
}

#logo #plus {
    color: rgb(243, 153, 49) !important;
}

/* add trip container */
#add-trip {
    margin-top: 60px;
    background-color: #202020b9;
    border-radius: 10px;
    padding: 25px 10px;
}

#search-container {
    background-color: white;
}

#flex-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.set-trip {
    height: 50px;
}

.add-trip-btn {
    margin-left: 10px;
    width: 120px;
}
/* user-section */
#user-section {
    position: absolute;
    top: -120%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 300px;
    background-color: white;
    padding: 50px 60px;
    border-radius: 10px;
    transition: 1s;
}

.show-active {
    top: 10% !important;
}

.close {
    position: relative;
    top: -20px;
    right: -40px;
}

/* general search section */
#flex-form-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0;
}

.section-two-nav.jumbotron {
    padding-bottom: 10px;
    padding-top: 50px;
    background-color: rgb(61, 61, 61);
    margin-bottom: 0;
}

.section-two {
    height: 85vh;
    width: 100%;
}

form[name="set-trip-form"] {
    padding: 1px 10px;
}

.map-search-container {
    position: relative;
    height: 85vh;
    width: 100%;
    padding: 0;
}

.detail-controller {
    position: absolute;
    top:0;
    left: 0;
    height: 85vh;
    background-color: white;
    width: 320px;
    transition: 1s;
}

.expand-controller {
    position: absolute;
    left: 320px;
    top: 50%;
    height: 50px;
    padding-top: 23px;
    width: 30px;
    padding-left: 7px;
}

@media screen and (max-width: 320px) {
    .expand-controller {
        position: absolute;
        left: 290px;
        top: 50%;
        height: 50px;
        padding-top: 23px;
        width: 30px;
        padding-left: 7px;
    }
}
