body, html {
    padding: 0;
    height: 100%;
    font-size: 12px;
}

/* section 1 */
.section-one {
   height: 90%;
   background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),
            url('./images/HongKong-bg.jpg');
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}
 
/* logo */
#logo {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo h1, h2{
    font-family: 'Pacifico', cursive;
    color: white !important;
    text-shadow: 8px 4px 1px #242424;
}

#logo h1 {
    font-size: 108px; 
}

#logo h2 {
    font-size: 48px;
}

#logo #plus {
    color: rgb(243, 153, 49) !important;
}

/* add trip container */
#add-trip {
    margin-top: 60px;
    background-color: #202020b9;
    border-radius: 10px;
    padding: 25px 10px;
}

#search-container {
    background-color: white;
}

#flex-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.set-trip {
    height: 50px;
}

.add-trip-btn {
    margin-left: 10px;
    width: 120px;
}
/* user-section */
#user-section {
    position: absolute;
    top: -120%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 300px;
    background-color: white;
    padding: 50px 60px;
    border-radius: 10px;
    transition: 1s;
}

.show-active {
    top: 10% !important;
}

.close {
    position: relative;
    top: -20px;
    right: -40px;
}

/* general search section */
#flex-form-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0;
}

.section-two-nav.jumbotron {
    position: relative;
    padding-bottom: 10px;
    padding-top: 50px;
    background-color: rgb(61, 61, 61);
    margin-bottom: 0;
}

.section-two {
    height: 85vh;
    width: 100%;
}

form[name="set-trip-form"] {
    padding: 1px 10px;
}

.map-search-container {
    position: relative;
    height: 85vh;
    width: 100%;
    padding: 0;
}

.detail-controller {
    position: absolute;
    top:0;
    left: 0;
    height: 85vh;
    background-color: white;
    width: 320px;
    transition: 1s;
    overflow-y: scroll; 
}

.expand-controller {
    position: absolute;
    left: 320px;
    top: 50%;
    height: 50px;
    padding-top: 23px;
    width: 30px;
    padding-left: 7px;
    transition: 1s;
}

@media screen and (max-width: 320px) {
    .expand-controller {
        position: absolute;
        left: 290px;
        top: 50%;
        height: 50px;
        padding-top: 23px;
        width: 30px;
        padding-left: 7px;
    }
}

#transport-detail-list-group {
    height: 85vh;
    width: 350px;
    transition: 1s;
    position: absolute;
    top: 0;
    left: -350px;
    padding: 30px 25px;
    background-color: white;
    overflow-y: scroll;
    z-index: 99999999;
}

.show-detail {
    left: 0 !important;
    border-radius: 0;
}

.detail-close {
    position: absolute;
    top: 20px;
    left: 310px;
    opacity: .2;
    text-shadow: 0 1px 0 #fff;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
}

.bus-route {
    background-color: rgb(206, 41, 41);
    padding: 1px 2px;
    border-radius: 5px;
    color: white;
    font-size: 10px;
}

.route-duration {
    padding: 1px 2px;
    border-radius: 5px;
    color: rgb(114, 113, 113);
    font-size: 10px;
}

.transfer-logo {
    display: flex;
    flex-direction: column;
}

.transit-icons {
    height: 20px;
}

.transfer-route {
    display: flex;
    flex-direction: row;
}

.route-set {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.walk .route-set, .drive .route-set {
    justify-content: center;
}

.walk .route-set p, .drive .route-set p {
    margin-bottom: 0;
    margin-left: 10px;
}

.list-group-item .material-icons {
    font-size: 29px;
}

.small-arrow {
    font-size: 12px !important;
}

.route-info, .route-info .material-icons {
    font-size: 10px;
}

/* transfer logo color */
.directions_bus, .train, .subway, .tram, .directions_boat, .directions_walk, .material-transport-icon {
    color: rgb(62, 140, 185);
    font-size: 20px !important;
}

.route-name {
    color: grey;
    display: flex;
    flex-direction: row;
}

