#transport-detail-list-group {
    height: 100%;
    width: 320px;
    transition: 1s;
    position: fixed;
    top: 0;
    left: -320px;
    padding: 5px 15px;
    background-color: white;
    z-index: 99999999;
}

#transport-detail-list-group .detail-close{
    margin-top: 15px;
    margin-left: 93%;
}

.show-detail {
    left: 0 !important;
    border-radius: 0;
}

.detail-close {
    margin-top: 20px;
    margin-left: 90%;
    opacity: .2;
    text-shadow: 0 1px 0 #fff;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
}

.bus-route {
    background-color: rgb(206, 41, 41);
    padding: 1px 2px;
    border-radius: 5px;
    color: white;
    font-size: 10px;
}

.route-duration {
    padding: 1px 2px;
    border-radius: 5px;
    color: rgb(114, 113, 113);
    font-size: 10px;
}

.transfer-logo {
    display: flex;
    flex-direction: column;
}

.transit-icons {
    height: 20px;
}

.transfer-route {
    display: flex;
    flex-direction: row;
}

.route-set {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 39px;
}

.walk .route-set, .drive .route-set {
    justify-content: flex-start;
}

.walk .route-set p, .drive .route-set p {
    margin-bottom: 0;
    margin-left: 10px;
}

.list-group-item .material-icons {
    font-size: 29px;
}

.small-arrow {
    font-size: 12px !important;
}

.route-info, .route-info .material-icons {
    font-size: 10px;
}

/* transfer logo color */
.directions_bus, .train, .subway, .tram, .directions_boat, .directions_walk, .material-transport-icon {
    color: rgb(62, 140, 185);
    font-size: 20px !important;
}

.route-name {
    color: grey;
    display: flex;
    flex-direction: row;
}

.option-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: white;
    padding: 0 5px;
    display: flex;
    align-items: center;
}

.drive .option-logo {
    background-color: rgb(54, 143, 170);
}

.public .option-logo {
    background-color: rgb(170, 54, 73);
}

.walk .option-logo  {
    background-color: rgb(54, 170, 89);
}

.route-detail {
    margin-left: 10px;
}

.route-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

form.route-detail input[type="submit"] {
    background: none;
    border-radius: 50%;
}

form.route-detail input[type="submit"]:hover {
    background: skyblue;
    color: white;
}

.invisible-input {
    display: none;
}

.input-group-transit {
    display: flex !important;
    flex-direction: column;
    border-radius: 4px !important;
    padding: 0 5px;
}

#my-detail {
    height: 95vh;
    overflow-y: scroll;
    padding-bottom: 20px;
}

